@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("./styles/typography.css");
@import "tailwindcss";

@theme {
  --shadow-card: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

@layer components {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;

  font-family: "Inter", sans-serif;
}

a.active {
  text-decoration: underline;
}
